<h1>Hello, welcome to WalletLess!</h1>
<p>WalletLess is an electronic wallet for all of your blah blah description placeholder.</p>
<ul>
  <li>Check out our <a href="">Mobile App for iOS</a>!</li>
  <li>If you are a with a hosptal or insurance company, try <a href="">logging in</a>, or if you are new here, please <a href="">register</a>.</li>
  <li>We are not yet available for android, but we are coming soon!</li>
</ul>
<p>To get started, follow the instructions below:</p>
<ul>
  <li>put</li>
  <li>instructions</li>
  <li>here</li>
</ul>
