<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Birth_Year</key>
	<integer>1900</integer>
	<key>Birth_Day</key>
	<integer>1</integer>
	<key>Birth_Month</key>
	<integer>1</integer>
	<key>Last_Name</key>
	<string></string>
	<key>Middle_Name</key>
	<string></string>
	<key>First_Name</key>
	<string></string>
	<key>Mother_First_Name</key>
	<string></string>
	<key>Mother_Middle_Name</key>
	<string></string>
	<key>Mother_Last_Name</key>
	<string></string>
	<key>Marital_Status</key>
	<string></string>
	<key>Sex</key>
	<string></string>
	<key>Race</key>
	<string></string>
	<key>Denomination</key>
	<string></string>
	<key>Preferred_Language</key>
	<string></string>
	<key>Social_Security_Number</key>
	<string></string>
	<key>Address</key>
	<string></string>
	<key>ZIP_Code</key>
	<string></string>
	<key>County_Code</key>
	<string></string>
	<key>Home_Phone_Number</key>
	<string></string>
	<key>Work_Phone_Number</key>
	<string></string>
	<key>Cell_Phone_Number</key>
	<string></string>
</dict>
</plist>
